<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT GRADES</title>
</head>
<body>-->
    
    <!--
        s_name,
        course,
        ML_marks,
        WEB_marks,
        IOT_marks,
        CNS_marks,
        SPM_marks,
    -->
    <!--{% for i in data %}
    <ol type = "1">
        <li>
            s_name:{{ i.s_name }}
        </li>
        <li>
            course:{{ i.course }}
        </li>
        <li>
            ML_marks:{{ i.ML_marks }}
        </li>
        <li>
            WEB_marks:{{ i.WEB_marks}}
        </li>
        <li>
            IOT_marks:{{ i.IOT_marks }}
        </li>
        <li>
            CNS_marks:{{ i.CNS_marks }}
        </li>
        <li>
            SPM_marks:{{ i.SPM_marks }}
        </li>
    </ol>
    {% endfor %}
</body>
</html>
-->